name: Production:Deploy CI / CD

on: 
 push:
   branches: [main]

jobs:
  build-test-deploy-prod:
    runs-on: [self-hosted, Linux, medium, ephemeral]
    
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
      with:
        egress-policy: audit

    - name: Checkout repository
      uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6

    - name: Setup Node
      uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4.0.3
      with:
        node-version: '18'

    - name: Install build tools
      run: sudo apt-get update && sudo apt-get install -y make gcc g++ # Install make and other build tools

    - name: Set up Yarn
      run: npm install -g yarn
      
    - name: Install Dependencies
      run: yarn
      
    - name: Check Format
      run: yarn format
      
    - name: Lint
      run: yarn lint

    - name: Build App
      run: | 
        yarn build
      
